.bannerImg {
    height: 100vh;
    width: 100%;
}

.loadingBanner {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.bannerBtnPrev {
    position: absolute;
    margin-top: -90px;
    margin-left: 50px;
    z-index: 11;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.bannerBtnNext {
    position: absolute;
    margin-top: -90px;
    margin-left: 120px;
    z-index: 11;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 1080px) {
    .bannerImg {
        height: 500px;
    }
}

@media screen and (max-width: 760px) {
    .bannerImg {
        height: 400px;
    }

    .bannerBtnPrev {
        margin-left: 10px;

    }

    .bannerBtnNext {
        margin-left: 70px;
    }
}