.bannerImg {
    height: 100vh;
    width: 100%;
}

.loadingBanner {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 1080px) {
    .bannerImg {
        height: 500px;
    }
}

@media screen and (max-width: 760px) {
    .bannerImg {
        height: 400px;
    }
}