.serialDiv {
    position: relative;
    margin-bottom: -24px;
    background-color: burlywood;
    width: 30px;
    font-family: cursive;
}

.editBtn {
    border: none;
    height: 46px;
    width: 124px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    background: linear-gradient(to left, #e2e2e2 50%, #5c5c5c 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
    margin-top: 20px;
    margin-left: 20px;
}

.editBtn:hover {
    background-position: left bottom;
    color: #fff;
}